/* Dark by default */
[data-theme='dark'],
:root:not([data-theme='light']) {
  color-scheme: dark;
  --primary-inverse: #242424 !important;
  --background-color: #242424;
}

/* Light if preferred and not forced */
@media only screen and (prefers-color-scheme: light) {
  :root:not([data-theme='dark']) {
    --primary-inverse: #f5f5f5 !important;
    --background-color: #f5f5f5 !important;
  }
}

[data-theme='light'] {
  --primary-inverse: #f5f5f5 !important;
  --background-color: #f5f5f5 !important;
}

/* Common */
:root {
  --primary: #56aa8c !important;
  /* Base color */
  --primary-hover: #86b0a1 !important;
  /* Omatsuri 2 shades lighter */
  --primary-focus: #527e6e !important;
  /* Omatsuri 2 shades darker */

  /* Default non-serif + Inter */
  --font-family: 'Inter', system-ui, -apple-system, 'Segoe UI', 'Roboto',
    'Ubuntu', 'Cantarell', 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

/* Border around the window */
html {
  min-height: 100%;
  border: solid 4px var(--primary);
}

/* Extras */
@media (min-width: 992px) {
  main .grid.about {
    grid-column-gap: 3rem;
    grid-template-columns: 25% auto;
  }
}

a[role='button'].full {
  width: 100%;
}
